:root{
    --primary-blue: #33A0FF;
}
.wrapper{
    background-color: var(--primary-blue);
    height: 40px;
}
.row{
    background-color: var(--primary-blue);
}

.col-6:nth-child(1){
    background-color: var(--primary-blue);
    text-align: center;
}
.container li{
    display: inline-block;
    text-decoration: none;
    padding-left: 40px;
}

select{
    background-color: var(--primary-blue);
    border: none;
    color: #fff;
}

.container{
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
}


.material-icons{
    font-size: 20px;
    line-height: 5em;
    margin-right: 3px;
    /* vertical-align: middle; */
}
.right-nav a {
    color: white;
    text-decoration: none;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
button {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
  background: #333;
  padding: 30px;
}
/* .person{} */
