.p-name-price h3, p{
    color: black;
}

.left-display{
    background-color: #F6F7F8;
    width: 278px;
    height: 600px;
    justify-content: space-between;
}
.product-wrapper{
    background-color: blue;
}

.img-container{
    width: 278;
    height: 278;
    max-width: 300px;
}

img{
    width: 100%;
    height: 100%;
}
.lead{
    font-weight: bold;
    color: var(--primary-blue);
}